site_name: Architecture Docs
site_url: https://vishnu-staples.github.io/architecture-doc-repo/

theme:
  name: material

markdown_extensions:
  - admonition
  - toc:
      permalink: true

use_directory_urls: false